body {
    color: #000;
	font-family: 'Hiragino Kaku Gothic Pro', 'WenQuanYi Zen Hei', '微軟正黑體', '蘋果儷中黑', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.8em;
	padding: 25px 25px;
}
h3 {
    font-size: 1.2em;
    line-height: 1.8em;
}
h2 {
    font-size: 1.5em;
    line-height: 2.0em;
}